# ETL DataSUS

## Instalação e configuração das bibliotecas

Referências:
- biblioteca pyreaddbc: https://pypi.org/project/pyreaddbc/
- biblioteca dbfread: https://pypi.org/project/dbfread/
- repositório pyreaddbc issues: https://github.com/osl-incubator/pyreaddbc/issues/19

In [146]:
pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting selenium
  Downloading selenium-4.21.0-py3-none-any.whl (9.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.5/9.5 MB 5.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting trio~=0.17
  Downloading trio-0.25.1-py3-none-any.whl (467 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 467.7/467.7 KB 10.3 MB/s eta 0:00:00[36m0:00:01
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /usr/lib/python3/dist-packages (from selenium) (1.26.5)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: typing_extensions>=4.9.0 in /home/nandaoc/.local/lib/python3.10/site-packages (from selenium) (4.11.0)
Collecting certifi>=2021.10.8
  Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.8/163.8 KB 15.5 MB/s eta 0:00:00
Collecting attrs>=23.2.0
  Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 KB 13.5 MB/s eta 0:00:00
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Collecting sortedcontainers
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: exceptiongroup in /home/nandaoc/.local/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.1)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: idna in /usr/lib/python3/dist-packages (from trio~=0.17->selenium) (3.3)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting PySocks!=1.5.7,<2.0,>=1.5.6
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 12.0 MB/s eta 0:00:00
Installing collected packages: sortedcontainers, sniffio, PySocks, h11, certifi, attrs, wsproto, outcome, trio, trio-websocket, selenium
Successfully installed PySocks-1.7.1 attrs-23.2.0 certifi-2024.2.2 h11-0.14.0 outcome-1.3.0.post0 selenium-4.21.0 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.25.1 trio-websocket-0.11.1 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install --upgrade --force-reinstall cffi

Collecting cffi
  Using cached cffi-1.16.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting pycparser (from cffi)
  Using cached pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Using cached cffi-1.16.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (464 kB)
Using cached pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: pycparser, cffi
  Attempting uninstall: pycparser
    Found existing installation: pycparser 2.22
    Uninstalling pycparser-2.22:
      Successfully uninstalled pycparser-2.22
  Attempting uninstall: cffi
    Found existing installation: cffi 1.16.0
    Uninstalling cffi-1.16.0:
      Successfully uninstalled cffi-1.16.0
Successfully installed cffi-1.16.0 pycparser-2.22

In [2]:
#pip install cffi==1.16.0

In [3]:
pip install pyreaddbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyreaddbc in /home/nandaoc/.local/lib/python3.10/site-packages (1.2.0)
Requirement already satisfied: cffi<2,>=1.15.1 in /home/nandaoc/.local/lib/python3.10/site-packages (from pyreaddbc) (1.16.0)
Requirement already satisfied: dbfread<3,>=2.0.7 in /home/nandaoc/.local/lib/python3.10/site-packages (from pyreaddbc) (2.0.7)
Requirement already satisfied: pyyaml>=6 in /home/nandaoc/.local/lib/python3.10/site-packages (from pyreaddbc) (6.0.1)
Requirement already satisfied: tqdm<5,>=4.64.0 in /home/nandaoc/.local/lib/python3.10/site-packages (from pyreaddbc) (4.66.2)
Requirement already satisfied: pycparser in /home/nandaoc/.local/lib/python3.10/site-packages (from cffi<2,>=1.15.1->pyreaddbc) (2.22)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install dbfread

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dbfread in /home/nandaoc/.local/lib/python3.10/site-packages (2.0.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from platform import python_version
from selenium import webdriver
import sys
import cffi
import pyreaddbc
from dbfread import DBF
import pandas as pd
import itertools

In [6]:
print(python_version())

3.10.12

In [7]:
sys.executable

'/usr/bin/python3.10'

In [8]:
print(cffi.__file__)

/home/nandaoc/.local/lib/python3.10/site-packages/cffi/__init__.py

In [9]:
import cffi
print(cffi.__version__)

1.16.0

## Scraper - extraindo dados da plataforma

In [3]:
import selenium
selenium.__version__

'4.21.0'

## Criando DataFrame

In [132]:
lista_linhas = []

In [108]:
def cria_dbf(caminho_dbc, caminho_dbf):
    # Converte dbc em dbf e salva em um diretório - não te retorno
    arquivo_dbf = pyreaddbc.dbc2dbf(caminho_dbc, caminho_dbf)
    # Converte o arquivo dbf em um objeto iterável
    tabela_dbf = DBF(caminho_dbf)

    return tabela_dbf

In [133]:
def cria_linhas_dados(tabela_dbf):
    i = 0
    iter_tabela_dbf = iter(tabela_dbf)
    iter_tbdbf1, iter_tbdbf2 = itertools.tee(iter_tabela_dbf)

    for itens in iter_tbdbf2:
        linha_dataframe = {}
        for item in itens:
            linha_dataframe[item] = itens[item]
        lista_linhas.append(linha_dataframe)
       
        i+=1

In [134]:
def cria_dataframe(dados):
    df_leitos = pd.DataFrame(dados)

    return df_leitos

In [135]:
tb_dbf = cria_dbf("/home/nandaoc/Downloads/leitos/LTAC2301.dbc", "/home/nandaoc/Downloads/leitos/LTAC2301.dbf")

In [136]:
cria_linhas_dados(tb_dbf)

In [138]:
df = cria_dataframe(lista_linhas)
df.head()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
0,5701929,120001,001,,,,E,3,00000000000000,3,...,,,5,45,2,0,2,0,202301,1023
1,5701929,120001,001,,,,E,3,00000000000000,3,...,,,2,33,3,0,3,0,202301,1023
2,5701929,120001,001,,,,E,3,00000000000000,3,...,,,4,43,1,0,1,0,202301,1023
3,5701929,120001,001,,,,E,3,00000000000000,3,...,,,6,47,1,0,1,0,202301,1023
4,2001020,120005,002,,,,E,3,04034526001034,3,...,,,4,43,2,0,2,0,202301,1023

## Persistindo dados